// home-layout.jade
doctype html
html
  head
    title Marc Navon Cognitive Behavioral Therapy
    block head
  body
    block nav
    block titlepane
    block healthcare
    block mission
    block services
    block healthplans
    block contact
    block footer
