// home-template.jade
extends home-layout

block head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name='description', content='')
  meta(name='author', content='')
  link(href='/css/bootstrap.min.css', rel='stylesheet')
  link(href='/css/styles.css', rel='stylesheet')
  link(href='/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
  link(href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,700,600', rel='stylesheet', type='text/css')
  link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic', rel='stylesheet', type='text/css')

  //if lt IE 9
  <!--[if lt IE 9]>
  <script src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'></script>
  <script src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js'></script>
  <![endif]-->

block nav
  // Navigation
  nav.navbar.navbar-default.topnav(role='navigation')
    .container.topnav
      // Brand and toggle get grouped for better mobile display
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand.topnav(href='#')
          img.brand(src='img/logo.png', alt='')
      // Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul#navlist.nav.navbar-nav.navbar-right
          li
            a(href='#about') About
          li
            a(href='#services') Services
          li
            a(href='#contact') Contact
      ul#hours.nav.navbar-nav.navbar-right
        li
          a(href='#')
            table
              tr
                td.col1
                  i.fa.fa-phone-square
                td.col2 
                  | (781) 990-1035
              tr
                td.col1 Mon - Fri
                td.col2 8:00am - 8:00pm
              tr
                td.col1
                  Sat
                td.col2 9:00am - 12:00pm

block titlepane
  <!-- Header -->
  a(name='about')
  .intro-header
    .container
      .row
        .col-lg-12
          .intro-message
            .col-lg-6
              img#intro-img.img-rounded(src='img/marc.jpg', alt='')
            .col-lg-6
              #name-title 
                p Marc Navon
                span#creds, MSW, LICSW, MPH 
              h2
                i Psychotherapist
              hr.intro-divider
              h3
                i
                  | &ldquo;Serving the behavioral healthcare needs of seniors and their families on
                  | Boston&apos;s North Shore.&rdquo;

block mission
  .content-section-a
    .container
      #about.row
        .col-lg-5.col-sm-6
          hr.section-heading-spacer
          .clearfix
          h2.section-heading Our Mission
          p.lead
            | Our mission is to provide high-quality, client-centered behavioral health care to our clients . We provide diagnostic evaluation, individual psychotherapy, family counseling, and behavior management consutation. We assist with referral for medication management, and address the needs of clients with behavioral issues.
        .col-lg-5.col-lg-offset-2.col-sm-6
          img#water-img.img-responsive(src='img/water.jpg', alt='')
      //- .row
      //-   .col-lg-5.col-lg-offset-1.col-sm-push-6.col-sm-6
      //-     hr.section-heading-spacer
      //-     .clearfix
      //-     h2.section-heading Michele Navon, MSW, LICSW
      //-   .col-lg-5.col-sm-pull-6.col-sm-6
      //-     hr.section-heading-spacer
      //-     .clearfix
      //-     h2.section-heading Marc Navon, MSW, LICSW, MPH

block services
  #services.content-section-b
      .container
          .row
            .col-lg-5.col-lg-offset-1.col-sm-push-6.col-sm-6
            |             
            .col-lg-5.col-sm-pull-6.col-sm-6
              hr.section-heading-spacer
              |                 
              .clearfix
              |                 
              h2.section-heading Services
          .row
            .col-lg-5.col-lg-offset-1.col-sm-push-6.col-sm-6
              .clearfix
              |             
              h3
                i.fa.fa-medkit
                |  Treatment Expertise
              |             
              p.lead
                ul
                  li &ZeroWidthSpace;ADHD
                  |                 
                  li Aging (Geriatric)
                  |                 
                  li Alcohol and Drug Abuse and Dependence
                  |                 
                  li Anxiety
                  |                 
                  li Behavior Management
                  |                 
                  li Chronic Medical IllnessDepression
                  |                 
                  li Grief/Loss
                  |                 
                  li Marital and Family Problems
                  |                 
                  li Parenting Issues
                  |                 
                  li Work/Career Issues
            .col-lg-5.col-sm-pull-6.col-sm-6
              .clearfix
              h3
                i.fa.fa-home.icon-4
                |  Home Visits
              p.lead
                | We know how difficult it can be for seniors to get to the office for appointments, so we are able to see clients in the comfort of their home. We are Medicare providers and bill private insurers directly.
          .row
            .col-lg-5.col-lg-offset-1.col-sm-push-6.col-sm-6
              .clearfix
              br
              br
              br
              p.lead
                | Nearly 20 percent of elders experience serious mental health issues that are not a normal part of aging. The most common disorders, in order of prevalence, are: anxiety, severe cognitive impairment, and mood disorders. It is estimated that only half who acknowledge these problems receive treatment from any health care provider (Lebowitz, et al, 1997).
                br
                br
                | We help our clients and families with the following issues:
              p
                ul
                  li Depression
                  li Anxiety
                  li Coping with Loss
                  li Social Isolation
                  li Assessing Care and&#x2028; Placement Needs
            .col-lg-5.col-sm-pull-6.col-sm-6
              .clearfix
              h3
                i.fa.fa-heart
                |  Elder Care
              p.lead
                | Marc Navon is pleased to offer behavioral health evaluation and treatment services for seniors living at home and in elder care residences, such as assisted living. They are both seasoned Licensed Independent Clinical Social Workers with specific expertise in geriatric mental health. Together, the husband and wife team has decades of clinical experience in evaluation, individual psychotherapy, family counseling, and group therapy. We also help families work through the difficult decisions regarding the care and placement needs of their loved ones.

block healthplans
  .content-section-a
      .container
          .row
            .col-lg-5.col-sm-6
              hr.section-heading-spacer
              .clearfix
              h2.section-heading Supported Health Plans
              p.lead
                span.badge AmeriChoice
                span.badge BlueCross BlueSheild National Preferred Networks
                span.badge Building Service 32BJ Benefit Fund
                span.badge Champus
                span.badge Cigna HMO/PPO
                span.badge Cigna International
                span.badge CompraCare
                span.badge Emblem Health
                span.badge Empire BlueCross BlueSheild
                span.badge GHI
                span.badge Health Care Workers Local 1199 (all plans except the HMO plan)
                span.badge HIP Health Plan of New York
                span.badge International SOS
                span.badge Medicare (most locations)
                span.badge Multiplan - PHCS (most plans accepted)
                span.badge NY Graphic Arts Benefit Group
            .col-lg-5.col-lg-offset-2.col-sm-6
              img.img-responsive(src='img/pebbles.jpg', alt='', style='margin-top:40px;')

block contact
  .banner
      .container
          #contact.row
            .col-lg-5
              h2 Contact Us:
            .col-lg-3
              address.address
                strong
                  i.fa.fa-map-marker
                  |  Libery Tree Park
                br
                |85 Constitution Lane
                br
                | Suite 200C
                br
                | Danvers, MA   01923
                br
                abbr(title='Phone')
                  i.fa.fa-phone
                | (781) 990-1035
                br
                abbr(title='Phone') Fax:
                |  (978) 750-3606
            .col-lg-3
              address.address
                strong
                  i.fa.fa-map-marker
                  |  8 Jackson Road
                br
                | Marblehead, MA   01945
                br
                |                 
                abbr(title='Phone')
                  i.fa.fa-phone
                |  (781) 990-1035
                br
                br
                i.fa.fa-inbox
                a(href='mailto:#') mnavon@comcast.net

block footer
  footer
      .container
          .row
            .col-lg-12
              ul.list-inline
                li
                  a(href='#') Home
                li.footer-menu-divider &sdot;
                li
                  a(href='#about') About
                li.footer-menu-divider &sdot;
                li
                  a(href='#services') Services
                li.footer-menu-divider &sdot;
                li
                  a(href='#contact') Contact
              p.copyright.text-muted.small Copyright &copy; 2023 by Marc Navon, MSW, LICSW, MPH
      script(src='https://code.jquery.com/jquery-1.11.3.min.js')
      script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
